:host ::ng-deep .p-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
    font-size: 14px;
    padding: 0 1rem !important;
}
:host ::ng-deep .row{
    background-color: rgba(0,0,0,.15) !important;
}
