
<div class="product-grid-item card">
    <div class="product-grid-item-top">
        <div>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{product.category}}</span>
        </div>
        <span [class]="'product-badge status-' + product.inventoryStatus | lowercase">{{product.inventoryStatus}}</span>
    </div>
    <div class="product-grid-item-content">
        <img class="img" src="../../../assets/images/{{product.image}}">
        <div class="product-name">{{product.name}}</div>
        <div class="product-description">{{product.description}}</div>
    </div>
    <div class="product-grid-item-bottom">
        <span class="product-price">₺{{product.price}}</span>
        <p-button icon="pi pi-trash" (click)="deleteCard(product)"></p-button>
    </div>
</div>