.product-name {
    font-size: 1.5rem;
    margin: 1rem;
}

.product-description {
    margin: 1rem;
}
.product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.product-category {
    font-weight: 600;
    vertical-align: middle;
    margin: 1rem;
}
.product-grid-item{
    width: 400px;
    height: 550px;
    margin: .5em;
    border: 1px solid #dee2e6;
}
.product-grid-item-top,
.product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem 1rem;
}

.img {
    width: 350px;
    height: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}
.product-list-detail {
    text-align: center;
}
.product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}
.product-list-action {
    display: flex;
    flex-direction: column;
}
.p-button {
    margin-bottom: .5rem;
}

.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
    
@media screen and (max-width: 576px) {

.product-list-item {
	flex-direction: column;
	align-items: center;
}
	.product-list-item img {
		width: 75%;
		margin: 2rem 0;
	}
    
	.product-list-detail {
		text-align: center;
	}
    
	.product-price {
		align-self: center;
	}
    
	.product-list-action {
		display: flex;
		flex-direction: column;
	}
    
	.product-list-action {
		margin-top: 2rem;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}
