<div class="card container">
    <div class="py-4">    
        <h3>Product Create</h3>
        <button pButton type="button" icon="pi pi-arrow-left" iconPos="left" routerLink="/"></button>
    </div>

    <form #form="ngForm" (ngSubmit)="saveProduct(product)">
        <div class="mb-3">
            <label for="input" class="form-label">Ürün Adı:</label>
            <input [(ngModel)]="product.name" type="text" name="input" id="input" class="form-control">
        </div>
        <div class="mb-3">
            <label for="input" class="form-label">İçerik:</label>
            <input [(ngModel)]="product.description" type="text" name="input" id="input" class="form-control">
        </div>
        <div class="mb-3">
            <label for="input" class="form-label">Fiyat:</label>
            <input [(ngModel)]="product.price" type="number" name="input" id="input" class="form-control">
        </div>
        <div class="mb-3">
            <label for="input" class="form-label">Miktar:</label>
            <input [(ngModel)]="product.quantity" type="number" name="input" id="input" class="form-control">
        </div>
        <div class="mb-3">
            <label for="input" class="form-label">Kategori:</label>
            <input [(ngModel)]="product.category" type="text" name="input" id="input" class="form-control">
        </div>
        <div class="mb-3">
            <label for="input" class="form-label">Ürün Resmi:</label>
            <input [(ngModel)]="product.image" type="text" name="input" id="input" class="form-control">
        </div>
        <button pButton type="submit" label="Kaydet" [disabled]="form.invalid"></button>
    </form>
</div>